sample-n8n-workflow.json
{
  "name": "US",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c017d49b-73ee-4794-8a39-18c6cfeca1ca",
              "name": "baseUrl",
              "value": "https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search",
              "type": "string"
            },
            {
              "id": "4ea3b774-1348-4129-a3a7-1277f6b0f5ce",
              "name": "start",
              "value": 0,
              "type": "number"
            },
            {
              "id": "cb02ad5c-d5b2-409a-8bfc-3ab5c7679eb3",
              "name": "step",
              "value": 10,
              "type": "number"
            },
            {
              "id": "b2a1424b-41b5-4d2e-9d09-081d6c0f9cb8",
              "name": "maxPages",
              "value": 8,
              "type": "number"
            },
            {
              "id": "6dbd066e-c384-4283-b227-ce1f789b36fb",
              "name": "page",
              "value": 0,
              "type": "number"
            },
            {
              "id": "1e39fa4d-56b3-4d5a-a74d-57ae33b5f49b",
              "name": "keywords",
              "value": "Senior Software Architect OR Software Architect OR Enterprise Architect OR Director Technology OR Chief Technical Officer OR CTO OR head of engineering OR vice president engineering OR vice president technology OR Tech Lead OR Team Lead OR Engineering Lead",
              "type": "string"
            },
            {
              "id": "8a9acac0-f59d-4055-9a98-dae6fd9ddbb9",
              "name": "f_TPR=",
              "value": 1800,
              "type": "number"
            },
            {
              "id": "bc3e7558-c976-4f7c-8119-d66d4909353f",
              "name": "location",
              "value": "United States",
              "type": "string"
            },
            {
              "id": "6a1b1a18-3728-4898-8216-4bff35acbd0e",
              "name": "f_WT",
              "value": 2,
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1648,
        672
      ],
      "id": "843ee4d2-4328-4923-81d6-ec0b8b7d2a60",
      "name": "Init Variables"
    },
    {
      "parameters": {
        "jsCode": "// Loop over all incoming items\nconst output = [];\n\nfor (const item of $input.all()) {\n  const baseUrl = item.json.baseUrl || \"https://www.linkedin.com/jobs-guest/jobs/api/seeMoreJobPostings/search\";\n  const start = item.json.start ?? 0;\n  const location = item.json.location || \"Saudi Arabia\";\n  const keywords = item.json.keywords;\n  const f_TPR = item.json.f_TPR || 3600;\n  const f_WT = item.json.f_WT || 2;\n  const step = item.json.step || 25;\n  const page = item.json.page || 0;\n  const maxPages = item.json.maxPages || 8;\n\n  // Build full URL with pagination offset\n  const url = `${baseUrl}`;\n  const completeUrl = `${baseUrl}?start=${start}&step=${step}&page=${page}&location=${location}&maxPages=${maxPages}&keywords=${keywords}&f_TPR=${f_TPR}&f_WT=${f_WT}&refresh=true`;\n\n  // Push result for this item\n  output.push({\n    json: {\n      url,\n      start,\n      step: item.json.step || 25,\n      page: item.json.page || 0,\n      location,\n      maxPages: item.json.maxPages || 8,\n      keywords,\n      f_TPR,\n      f_WT,\n      completeUrl,\n    }\n  });\n}\n\n// Return one item per constructed URL\nconsole.log(output.at(0).json.completeUrl);\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1424,
        672
      ],
      "id": "2fc61a45-4219-46ec-a85e-918f80de2c87",
      "name": "Build URL"
    },
    {
      "parameters": {
        "url": "={{ $json.completeUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1200,
        272
      ],
      "id": "3207d361-2b24-4e1b-b840-a43f2b34067c",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "Job nodes",
              "cssSelector": "li > div.base-card",
              "returnArray": true
            }
          ]
        },
        "options": {
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -976,
        192
      ],
      "id": "8ad5773f-c266-4e3e-870d-4466d3788973",
      "name": "HTML Parsing Generic",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Parse the \"Job nodes\" array (strings) into structured job objects\n\nfunction cleanText(s) {\n  if (typeof s !== 'string') return s;\n  \n  // Replace all escaped newlines and carriage returns\n  s = s.replace(/\\\\r\\\\n/g, ' ')\n       .replace(/\\\\n/g, ' ')\n       .replace(/\\r?\\n/g, ' ');\n  \n  // Remove tabs and excessive spaces\n  s = s.replace(/\\t/g, ' ')\n       .replace(/\\s{2,}/g, ' ')\n       .trim();\n  \n  // Remove leftover HTML tags\n  s = s.replace(/<[^>]*>/g, '');\n  \n  // Remove invisible unicode characters (like NBSP or LRM)\n  s = s.replace(/[\\u200B-\\u200D\\uFEFF]/g, '');\n  \n  return s;\n}\n\nfunction extractJob(raw = '') {\n  // guard\n  if (typeof raw !== 'string' || !raw.trim()) return null;\n\n  // 1) split into lines and strip noise\n  const lines = raw\n    .split('\\n')\n    .map(l => l.trim())\n    .filter(Boolean);\n\n  // 2) jobUrl = first URL in square brackets  [https://...]\n  //    Use a CAPTURE GROUP so we get m[1], not undefined.\n  const m = raw.match(/\\[(https?:\\/\\/[^\\]\\s]+)\\]/i);\n  const jobUrl = m ? m[1] : '';\n  const jobIdMatch = jobUrl.match(/-(\\d+)(?:\\?|$)/);\n  const jobId = jobIdMatch ? jobIdMatch[1] : '';\n  const jobScrapingUrl = jobIdMatch ? `https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/${jobId}` : '';\n\n  // 3) title = first non-empty line\n  const title = lines[0] || '';\n\n  // 4) company: find a line whose NEXT line is a [https://...] company link\n  let company = '';\n  for (let i = 0; i < lines.length - 1; i++) {\n    const next = lines[i + 1] || '';\n    if (/^\\[https?:\\/\\//i.test(next)) {\n      company = lines[i];\n      break;\n    }\n  }\n  // fallback: first ALLCAPS-ish line that isn't a URL\n  if (!company) {\n    const idx = lines.findIndex(l =>\n      /^[A-Z0-9&\\- .,/()]+$/.test(l) && !/^https?:\\/\\//i.test(l)\n    );\n    if (idx > 0) company = lines[idx];\n  }\n\n  // 5) location: first line that looks like a place\n  let location = '';\n  const countryWords =\n    /(Saudi|Arabia|UAE|United|Emirates|Qatar|Oman|Riyadh|Jiddah|Jeddah|Dubai|Doha|Muscat)/i;\n  for (const l of lines) {\n    if (countryWords.test(l) && !/\\b(Hiring|Applicant|month|day|week|hour)\\b/i.test(l)) {\n      location = l;\n      break;\n    }\n  }\n\n  // 6) postedAt: last line mentioning time\n  let postedAt = '';\n  for (let i = lines.length - 1; i >= 0; i--) {\n    const l = lines[i];\n    if (/\\b(ago|today|yesterday|hour|day|week|month|recently|early applicant)\\b/i.test(l)) {\n      postedAt = l;\n      break;\n    }\n  }\n\n  if (!title || !jobUrl) return null;\n\n  const source = 'linkedin';\n  const dedupeKey = `${(company||'').toLowerCase()}|${(title||'').toLowerCase()}|${(location||'').toLowerCase()}|${source}`;\n\n  return {\n    title: cleanText(title),\n    company: cleanText(company),\n    location: cleanText(location),\n    postedAt: cleanText(postedAt),\n    url: jobUrl,\n    jobScrapingUrl,\n    jobId: cleanText(jobId),\n    source,\n    dedupeKey,\n    createdAt: new Date().toISOString()\n  };\n}\n\n// ----- entry point -----\nconst arr = $json['Job nodes'];\nif (!Array.isArray(arr)) {\n  return [{ json: { error: 'Expected array at json[\"Job nodes\"]' } }];\n}\n\nconst jobs = arr.map(extractJob).filter(Boolean);\n\n// Emit ONE item per job (downstream nodes will run once per item)\nconst r = jobs.map(j => ({ json: j }));\nreturn r;\n// return r[0];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        192
      ],
      "id": "ea630ea2-eb87-4852-9a6a-0610d5e449cd",
      "name": "parseCode"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Count jobs in the HTML + carry pagination vars (Run once for EACH item)\n\n// 1) HTML string (handle different HTTP node keys)\nconst html =\n  ($json.data && String($json.data)) ||\n  ($json.body && String($json.body)) ||\n  ($json.html && String($json.html)) ||\n  \"\";\n\n// 2) Simple block detection\nconst blocked = /captcha|robot|unusual\\s+traffic|verify/i.test(html);\n\n// 3) Extract UNIQUE job identifiers (IDs/URLs)\nconst idSet = new Set();\n\n// a) Prefer explicit jobPosting URNs on cards\nfor (const m of html.matchAll(/data-entity-urn=\"urn:li:jobPosting:(\\d+)\"/g)) {\n  idSet.add(m[1]);\n}\n// b) Any other URN occurrences\nfor (const m of html.matchAll(/urn:li:jobPosting:(\\d+)/g)) {\n  idSet.add(m[1]);\n}\n// c) Fallback: IDs embedded in job view URLs  ...-<ID>?...\nfor (const m of html.matchAll(/\\/jobs\\/view\\/[^\"'>]*-(\\d+)(?:[?\"'>]|$)/g)) {\n  idSet.add(m[1]);\n}\n\n// d) If still nothing, dedupe by full-link hrefs (some pages hide the ID)\nif (idSet.size === 0) {\n  const urlSet = new Set();\n  for (const m of html.matchAll(/<a[^>]*class=\"[^\"]*full-link[^\"]*\"[^>]*href=\"([^\"]+)\"/g)) {\n    urlSet.add(m[1]);\n  }\n  // Use URL count as a last-resort unique measure\n  if (urlSet.size > 0) {\n    for (const u of urlSet) idSet.add(u); // mix into same set\n  }\n}\n\n// Final per-page count = number of unique IDs/URLs detected\nconst count = blocked ? 0 : idSet.size;\n\n// 4) Carry pagination state forward\nconst {\n  baseUrl = \"\",\n  location = \"\",\n  start = 0,\n  step = 10,\n  page = 0,\n  maxPages = 8,\n  totalCount = 0,\n  keywords = '',\n} = $json;\n\nconst newTotal = totalCount + count;\n\nconsole.log({\n    count,            // items on THIS page\n    totalCount: newTotal, // cumulative (optional)\n    blocked,\n    uniqueKeys: Array.from(idSet).slice(0, 50), // optional debug\n    baseUrl,\n    location,\n    start,\n    step,\n    page,\n    maxPages,\n    keywords\n  });\n\n// 5) Return ONE item\nreturn {\n  json: {\n    count,            // items on THIS page\n    totalCount: newTotal, // cumulative (optional)\n    blocked,\n    uniqueKeys: Array.from(idSet).slice(0, 50), // optional debug\n    baseUrl,\n    location,\n    start,\n    step,\n    page,\n    maxPages,\n    keywords\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -752,
        576
      ],
      "id": "c4517d40-bec6-4d4b-a737-838b63c93a89",
      "name": "Count + Carry state"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ce3b248c-1312-4fe4-8f62-3b4f3e6c464c",
              "leftValue": "={{ $json.count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            },
            {
              "id": "156dfdb8-aba9-4af4-88b1-578f2fbd46eb",
              "leftValue": "={{ $json.page }}",
              "rightValue": "={{ $json.maxPages }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            },
            {
              "id": "443a1a16-5a26-4191-b01e-a30b4b81481b",
              "leftValue": "={{$json.blocked}}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -528,
        576
      ],
      "id": "e541baf9-5694-484d-bccf-58195850a74b",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Increment pagination for the next iteration\n\nconst {\n  baseUrl = \"\",\n  location = \"\",\n  start = 0,\n  step = 10,\n  page = 0,\n  maxPages = 8,\n  totalCount = 0,\n  keywords = '',\n} = $json;\n\n// Prepare next iteration values\nconst nextStart = start + step;\nconst nextPage = page + 1;\n\n// Return next state for Build URL\nreturn {\n  json: {\n    baseUrl,\n    location,\n    start: nextStart,     // e.g. 0 → 25 → 50 → ...\n    step,\n    page: nextPage,       // e.g. 0 → 1 → 2 → ...\n    maxPages,\n    totalCount,\n    loopedAt: new Date().toISOString(),\n    keywords,\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        416
      ],
      "id": "efda2722-32f8-441b-8954-11960e45f734",
      "name": "increment"
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -80,
        656
      ],
      "id": "ecc1ca8b-bb94-4d54-b2de-d174c0268356",
      "name": "Wait",
      "webhookId": "faae50f5-90ef-47d3-9841-226ac3393197"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -304,
        608
      ],
      "id": "09947ffb-4d34-4fa0-bfa0-0229d30a6114",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "url": "={{ $json.jobScrapingUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/124 Safari/537.36"
            },
            {
              "name": "Accept-Language",
              "value": "en-US,en;q=0.9"
            },
            {
              "name": "Cache-Control",
              "value": "no-cache"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 30000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        128
      ],
      "id": "aab92357-b2ca-4fe6-805e-c2ef54a15280",
      "name": "HTTP Request1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "job_description",
              "cssSelector": "[class*=description__text]"
            },
            {
              "key": "job_criteria",
              "cssSelector": "[class*=_job-criteria-list]"
            },
            {
              "key": "=jobURL",
              "cssSelector": "=a.topcard__link",
              "returnValue": "attribute",
              "attribute": "href"
            },
            {
              "key": "firm",
              "cssSelector": "a.topcard__org-name-link"
            },
            {
              "key": "title",
              "cssSelector": "[class*=top-card-layout__title]",
              "returnValue": "html"
            }
          ]
        },
        "options": {
          "cleanUpText": true
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        816,
        128
      ],
      "id": "20368aae-eda1-412d-a0d9-b428053b94c9",
      "name": "HTML",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "Ll6Ht9oAiUbZu61Z",
          "mode": "list",
          "cachedResultName": "l1-match",
          "cachedResultUrl": "/projects/smEES7WXaOT5HreB/datatables/Ll6Ht9oAiUbZu61Z"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "dedupe_key": "={{ $json.dedupeKey }}"
          },
          "matchingColumns": [
            "dedupe_key"
          ],
          "schema": [
            {
              "id": "dedupe_key",
              "displayName": "dedupe_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        -1872,
        896
      ],
      "id": "66ac010d-b1c0-42e3-9979-e11bf4c63775",
      "name": "Insert row"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (3 - 1 + 1)) + 1 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        368,
        128
      ],
      "id": "fb1b3484-11ad-43ea-943b-ba156d08a66e",
      "name": "Wait2",
      "webhookId": "a83d4ae5-275a-4cdb-b24f-74e623af4c0c"
    },
    {
      "parameters": {
        "collection": "level-1",
        "options": {},
        "query": "={\n  \"dedupeKey\": \"={{ $json.dedupeKey }}\"\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        -304,
        0
      ],
      "id": "a75fdd13-0e07-4305-8f60-537ddb5b3678",
      "name": "Check if the document exists",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k8iTHBScSEcjHt0x",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "f861ab34-6b82-45e9-8cdf-9c850638db71",
              "leftValue": "={{ $json.length === 0 }}\n",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -80,
        0
      ],
      "id": "89406c9e-c5e3-412e-bf68-e1dcbe91bcf0",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User: You will now compute a match score between the following Job Description and the candidate's knowledge graph.\n\nTARGET ROLE: {{ $json.title }}\n\nJOB DESCRIPTION SUMMARY:\n{{ $json.jd }}\n\nCANDIDATE KNOWLEDGE GRAPH (COMPRESSED):\n\nSeven.One Entertainment Group — Lead Software Engineer / Technical Architect (2020–Present)\nDomain: AdTech • Cloud • Architecture\nLed modernization of a legacy monolithic TV ad system (millions of daily impressions) into event-driven microservices. Applied DDD, created ubiquitous language, built CI/CD pipelines, observability, fault-tolerant distributed systems, governance, and onboarding frameworks. Delivered +25% delivery predictability, –75% incidents, releases from weeks→days, onboarding 6→3 months, 3 years zero downtime. Metrics: incidents –40–75%, onboarding –50%, release time –70%. Tech: AWS Lambda/ECS/S3/Kinesis, Node.js, TypeScript, OpenSearch, CI/CD, distributed systems. Skills: DDD, microservices, cloud architecture, event-driven patterns, legacy modernization, reliability, resilience engineering, technical leadership, stakeholder communication, cross-functional collaboration.\n\nSamdock (2019–2020) — Lead Software Engineer  \nBuilt event-sourced CRM (CQRS) with NestJS microservices + Angular; enforced tests and code standards. Stack: NestJS, EventStore, Angular, CI/CD.\n\nKI Labs (2018–2019) — Backend Engineer  \nBuilt REST APIs (Flask/Node.js), JWT auth, testing, Swagger; built microservice data pipeline (onion architecture).\n\nFortiss (2018) — Backend Engineer  \nFlask-based REST services, JWT, RabbitMQ pub/sub, Jenkins/Kubernetes deployments.\n\nOSRAM (2016–2018) — IoT Software Engineer  \nImplemented OSCOAP security for CoAP multicast, middleware, Qt/C++ tools.\n\nClaryIcon (2014–2016) — Software Engineer  \nReverse-engineered SIP client (Qt/C++), built WebRTC recorder (Node.js/ffmpeg/MySQL), WPF tutorial system.\n\nEducation: M.Sc. CS (TUM), B.Sc. CSE (GIK).  \nCertifications: AWS Essentials, ECS & Multi-Region Load Balancing, Data Scientist’s Toolbox, R Programming.\n\nTASK:\nUsing the scoring rubric in the system instructions, compute the match score BETWEEN 0 AND 100.\n\nOUTPUT:\nReturn ONLY:\n{\"score\": X}\n\nWhere X is the match score integer.\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You score how well a Job Description matches the candidate's career knowledge graph. You are an extraction model that returns ONLY a raw JSON object.\nDisable all function calling, tool calling, and assistant tool wrappers.\nDo NOT output fields such as \"function\", \"tool\", \"result\", \"output\", \"data\", or arrays.\n\nYou MUST return a JSON object with EXACTLY one key \"score\" and an integer value 0–100.\n\nHints:\n- The roles that I am looking for are Senior Software Architect, Software Architect, Enterprise Architect, Director Technology, Chief Technical Officer, CTO, Head of Engineering, Vice President Engineering, Vice President Technology, Tech Lead, Team Lead, Engineering Lead, Lead, Staff Software Engineer, Principal Software Engineer, Staff Software Engineer, Technical CoFounder. If you find these roles organically rate them higher\n- If you infer that the job is onsite or hybrid, then rate it organically lower.\n- If the  job requires fluency in a language other than English such as Arabic or Spanish, organically rate that lower.\n- If the job is totally in another language other than English, organically rate it lower.\n- If the job is accepting or remote first, Results-Only-Work-Environment, globally remote first, distributed teams then rate it higher organically.\n- If the job prefers European, or German citizens rate that higher.\n- If the job requires Saudi, Emirati or Qatari nationality, organically rate it lower.\n\n\nYour scoring MUST follow this exact rubric:SCORING RUBRIC (0–100):- Technical Match (40%): Overlap in technologies, architecture patterns, domains, scale, and technical depth.- Role / Seniority Match (20%): How well candidate's seniority, leadership, and scope align with the role level.- Responsibilities Match (20%): Overlap in daily responsibilities, ownership, and outcomes expected in the JD.- Domain / Industry Match (10%): AdTech, Cloud, Microservices, Distributed Systems, CRM, IoT, etc.- Impact / Metrics Match (10%): JD expectations vs candidate history of delivering measurable impact.SCORING RULES:- Start at 0 and add points only according to the rubric.- Do NOT give high scores unless the overlap is objectively strong.- A typical match is 40–70; scores >80 require very strong overlap across most dimensions of leadership, architecture, processes, delivery- Output must be a single integer (no decimals).\n\nYou MUST return ONLY a raw JSON object with EXACTLY one key: \"score\".\nNo arrays, no quotes around the entire object, no markdown, no text before or after.\n\nSTRICT FORMAT:\n{\"score\": <integer between 0 and 100>}\n\nRULES:\n- Disable all function calling, tool calling, and assistant function wrappers.\n- Do NOT wrap the output inside any other JSON or function call.\n- Do NOT include fields like \"output\", \"result\", \"function\", \"data\", or similar.\n- Do NOT include markdown or code fences.\n- Do NOT include explanation.\n- Return ONLY the JSON object exactly as shown."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        2640,
        320
      ],
      "id": "550b66d1-0c69-477e-9cc5-11f438ef6e2b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "level-1",
        "fields": "score, firm, job_description, job_criteria, jobURL, Company Name, title, company, location, postedAt, url, jobScrapingUrl, jobId, source, createdAt, dedupeKey, embeddings_small",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        3776,
        32
      ],
      "id": "df250dd6-5926-4e9b-84d0-b012caeeed33",
      "name": "Insert documents3",
      "credentials": {
        "mongoDb": {
          "id": "k8iTHBScSEcjHt0x",
          "name": "MongoDB account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea84ef36-3c82-45eb-8359-ec0a985544a7",
              "name": "embeddings_small",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1936,
        128
      ],
      "id": "32a1b140-9e05-4e3b-95ee-e90f19819f02",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea84ef36-3c82-45eb-8359-ec0a985544a7",
              "name": "score",
              "value": "={{ isNaN(Number($json.output?.score ?? $json.score ?? $json.text)) ? 0 : Number($json.output?.score ?? $json.score ?? $json.text) }}\n",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        320
      ],
      "id": "2fb5bb25-05b1-472e-ada1-1fdceb47295d",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ea84ef36-3c82-45eb-8359-ec0a985544a7",
              "name": "embeddings_large",
              "value": "={{ $json.data[0].embedding }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4224,
        320
      ],
      "id": "209fbf68-bbe4-4f26-b87a-86c9d7e7d2b1",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec5d4aa4-c6b1-4493-aabe-934c35b9f5b8",
              "name": "=jd",
              "value": "={{ $json.title + ` ` + $json['Company name'] + ` ` + $json.job_description + ` ` + $json.location + ` ` + $json.posted_at }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        224
      ],
      "id": "83ab8bdc-81f1-4f57-9713-c9d1ef495038",
      "name": "Vectorize Job Text3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"model\": \"text-embedding-3-small\",   \"input\": \"{{ $json.jd\n    .replace(/\\s+/g, ' ')\n    .replace(/[\\r\\n\\t]+/g, ' ')\n    .trim()}}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1712,
        128
      ],
      "id": "ae8dc6ba-d21a-4b57-bfb8-7b536332bed3",
      "name": "Get embeddings3",
      "credentials": {
        "httpBearerAuth": {
          "id": "hhZAn51Pnyd6gCAH",
          "name": "Open AI Bearer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2160,
        224
      ],
      "id": "07dac674-a9c3-4801-86b0-c8ee4e65416d",
      "name": "Merge10"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3552,
        224
      ],
      "id": "6238ddcc-4572-4183-9c03-7eab32ecb6c6",
      "name": "Merge11"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * 4) + 2 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        4672,
        368
      ],
      "id": "e42c5dcb-8625-4f63-838b-ba2dc6648ae1",
      "name": "Wait7",
      "webhookId": "0b757edb-3caa-458e-a567-ea7baf5632ed"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec5d4aa4-c6b1-4493-aabe-934c35b9f5b8",
              "name": "=jd",
              "value": "={{ $json.title + ` ` + $json['Company name'] + ` ` + $json.job_description + ` ` + $json.location + ` ` + $json.posted_at }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3776,
        320
      ],
      "id": "cce4d161-9dda-4c2f-a7f4-8033bf905f49",
      "name": "Vectorize Job Text2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={   \"model\": \"text-embedding-3-large\",   \"input\": \"{{ $json.jd\n    .replace(/\\s+/g, ' ')\n    .replace(/[\\r\\n\\t]+/g, ' ')\n    .trim()}}\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4000,
        320
      ],
      "id": "2b052700-034a-409b-8c58-3da503b1fe21",
      "name": "Get embeddings2",
      "credentials": {
        "httpBearerAuth": {
          "id": "hhZAn51Pnyd6gCAH",
          "name": "Open AI Bearer"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "amount": "={{ Math.floor(Math.random() * (3 - 1 + 1)) + 1 }}\n"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2384,
        320
      ],
      "id": "f0f0a75a-ce08-49a9-aaec-3e05653e4a07",
      "name": "Wait4",
      "webhookId": "40af3d23-38cf-4cdb-8aeb-2b9def924305"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "16767485-12b2-42b7-be7a-88ea1025b8a4",
              "leftValue": "={{ parseInt($json.score, 10); }}",
              "rightValue": 69,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3328,
        320
      ],
      "id": "8818ea5d-de52-4357-968d-df542ad7af45",
      "name": "If3"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -976,
        576
      ],
      "id": "25baf739-7162-4501-a143-ca36d09544f2",
      "name": "Merge8"
    },
    {
      "parameters": {
        "fieldToSplitOut": "dedupeKey",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -528,
        192
      ],
      "id": "cd515d53-e3a6-4637-88b9-754b8e4fe7e6",
      "name": "Split Out2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        224
      ],
      "id": "6d784603-eacb-4830-8f9d-54f67e5a7d4c",
      "name": "Merge9"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1872,
        672
      ],
      "id": "d8ef6b88-f32f-4ed2-a83b-eb631dc562eb",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        144,
        128
      ],
      "id": "392b88d4-e0ff-47da-8591-1b4971fad0a5",
      "name": "Merge12"
    },
    {
      "parameters": {
        "jsCode": "function cleanText(s) {\n  if (typeof s !== 'string') return s;\n\n  return s\n    .replace(/\\\\r\\\\n/g, ' ')\n    .replace(/\\\\n/g, ' ')\n    .replace(/\\r?\\n/g, ' ')\n    .replace(/\\t/g, ' ')\n    .replace(/\\s{2,}/g, ' ')\n    .replace(/<[^>]*>/g, '') // remove HTML tags\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, '') // invisible unicode\n    .trim();\n}\n\nconst results = [];\n\nfor (const item of $input.all()) {\n  const cleaned = {};\n\n  // Safely iterate over all keys in item.json\n  for (const key of Object.keys(item.json)) {\n    cleaned[key] = cleanText(item.json[key]);\n  }\n\n  results.push({ json: cleaned });\n}\n\nreturn results;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1264,
        224
      ],
      "id": "b28fb6c8-7c83-4648-a001-419ba52e75d3",
      "name": "Code in JavaScript8"
    },
    {
      "parameters": {
        "operation": "findOneAndUpdate",
        "collection": "level-2",
        "updateKey": "dedupeKey",
        "fields": "score, firm, job_description, job_criteria, jobURL, Company Name, title, company, location, postedAt, url, jobScrapingUrl, jobId, source, createdAt, dedupeKey, embeddings_small, embeddings_large",
        "upsert": true,
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        4848,
        96
      ],
      "id": "053471bc-8a62-447c-9fff-93ab582c9016",
      "name": "Find and update documents1",
      "credentials": {
        "mongoDb": {
          "id": "k8iTHBScSEcjHt0x",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\"score\": \"X\"}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        2736,
        544
      ],
      "id": "78428437-f01f-4e09-88c6-d9a8d4c3e3ac",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "model": "meta-llama/llama-3.1-8b-instruct",
        "options": {
          "frequencyPenalty": 0,
          "responseFormat": "json_object",
          "temperature": 0,
          "topP": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2608,
        544
      ],
      "id": "4dcbfdf0-3707-4eeb-951d-a61734bc064f",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "HDkW9Wk5UCOKQuBg",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4448,
        224
      ],
      "id": "5ebf8d25-43ce-45bc-8dc0-0fe85cdbdc4f",
      "name": "Merge13"
    },
    {
      "parameters": {
        "model": "qwen/qwen2.5-vl-32b-instruct",
        "options": {
          "temperature": 0,
          "topP": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2816,
        752
      ],
      "id": "986637e0-1905-4c42-8e7a-3027f0d1f386",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "HDkW9Wk5UCOKQuBg",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "6992463920",
        "text": "={{ $json.score }}% match - {{ $json.title }}\n{{ $json.firm }}\n{{ $json.location }}\nPosted at: {{ $json.postedAt }}\n{{ $json.url }}\nJobId: {{ $json.jobId }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4880,
        400
      ],
      "id": "5ad40456-04b4-47ed-9d4b-016866bfbe54",
      "name": "Send a text message",
      "webhookId": "cc01017f-a01c-4637-818b-efc13dbdfa80",
      "credentials": {
        "telegramApi": {
          "id": "DywueXI0LFy4xjIc",
          "name": "US L1"
        }
      }
    },
    {
      "parameters": {
        "operation": "rowNotExists",
        "dataTableId": {
          "__rl": true,
          "value": "BtrKQ8C7WxRvmC00",
          "mode": "list",
          "cachedResultName": "l1",
          "cachedResultUrl": "/projects/LUksx0Mg1mk3A46k/datatables/BtrKQ8C7WxRvmC00"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "mongoId",
              "keyValue": "= {{ $json._id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5248,
        96
      ],
      "id": "e057184a-e8c9-454c-a395-3e71d987f5fb",
      "name": "If row does not exist"
    },
    {
      "parameters": {
        "collection": "level-2",
        "options": {},
        "query": "={\n  \"dedupeKey\": \"{{ $json.dedupeKey }}\"\n}\n"
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        5040,
        96
      ],
      "id": "e30693a5-4210-4783-86cf-0550bee3ea77",
      "name": "Find documents",
      "alwaysOutputData": true,
      "credentials": {
        "mongoDb": {
          "id": "k8iTHBScSEcjHt0x",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "BtrKQ8C7WxRvmC00",
          "mode": "list",
          "cachedResultName": "l1",
          "cachedResultUrl": "/projects/LUksx0Mg1mk3A46k/datatables/BtrKQ8C7WxRvmC00"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "mongoId": "={{ $json._id.toString() }}"
          },
          "matchingColumns": [
            "mongoId"
          ],
          "schema": [
            {
              "id": "mongoId",
              "displayName": "mongoId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        5456,
        96
      ],
      "id": "d5c0102f-1843-44a1-8e69-bcc68a03a3e1",
      "name": "Insert row1"
    }
  ],
  "pinData": {},
  "connections": {
    "Init Variables": {
      "main": [
        [
          {
            "node": "Build URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build URL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Parsing Generic",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Parsing Generic": {
      "main": [
        [
          {
            "node": "parseCode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parseCode": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Count + Carry state": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "increment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "increment": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Build URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Merge9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if the document exists": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Merge12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge10",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge13",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Vectorize Job Text3": {
      "main": [
        [
          {
            "node": "Get embeddings3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get embeddings3": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge10": {
      "main": [
        [
          {
            "node": "Wait4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge11",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge11": {
      "main": [
        [
          {
            "node": "Insert documents3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Vectorize Job Text2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait7": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vectorize Job Text2": {
      "main": [
        [
          {
            "node": "Get embeddings2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get embeddings2": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait4": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Merge11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge8": {
      "main": [
        [
          {
            "node": "Count + Carry state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Merge12",
            "type": "main",
            "index": 1
          },
          {
            "node": "Check if the document exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge9": {
      "main": [
        [
          {
            "node": "Code in JavaScript8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Init Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge12": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge9",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript8": {
      "main": [
        [
          {
            "node": "Vectorize Job Text3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge13": {
      "main": [
        [
          {
            "node": "Wait7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find and update documents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        []
      ]
    },
    "Find and update documents1": {
      "main": [
        [
          {
            "node": "Find documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find documents": {
      "main": [
        [
          {
            "node": "If row does not exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If row does not exist": {
      "main": [
        [
          {
            "node": "Insert row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a02167b0-853e-4b90-bb65-11c5d8c6f630",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53c4e8eb09f7a5cd2b1f09652d83ecfe226967418ad459ca983cdcb0185febd7"
  },
  "id": "0x2ojoDE49STKw5n",
  "tags": []
}